@import url('/fonts/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	width: 100vw;
	overflow-x: hidden;
}

@font-face {
	font-family: 'wavehaus';
	src: url('/fonts/Wavehaus-66Book.ttf') format('truetype');
	font-display: auto;
}

.MuiTypography-root {
	font-family: 'wavehaus' !important;
	src: url('/fonts/Wavehaus-66Book.ttf') format('truetype') !important;
	font-display: auto !important;
	font-weight: 600 !important;
}

.Target-root {
	font-family: 'wavehaus' !important;
	src: url('/fonts/Wavehaus-66Book.ttf') format('truetype') !important;
	font-display: auto !important;
}

a.link {
	/* padding-right: 30px; */
	cursor: pointer;
	align-items: center;
	justify-content: center;
	display: flex-center;
	@apply px-4;
}

.profile-view {
	display: grid;
	grid-template-areas:
		'name role'
		'university university';
	row-gap: 2rem;
	column-gap: 1rem;
}

.profile-view-name {
	grid-area: name;
}

.profile-view-role {
	grid-area: role;
}

.profile-view-univ {
	grid-area: university;
}

.profile-view-lunch {
	grid-area: lunchGroup;
}

.profile-view-interests {
	grid-area: interests;
}

.challengeGrid {
	column-count: 2;
}

@media (max-width: 768px) {
	.challengeGrid {
		column-count: 1;
	}

	/* Home page video scaling */
	.video {
		zoom: 0.7 !important;
		-moz-transform: scale(0.7) !important;
		-o-transform: scale(0.7) !important;
		-webkit-transform: scale(0.7) !important;
	}

	.footerIcon {
		transform: scale(1) !important;
	}
}

@media (max-width: 1024px) {
	/* Home page video scaling */
	.video {
		zoom: 0.85;
		-moz-transform: scale(0.85);
		-moz-transform-origin: top center;
		-o-transform: scale(0.85);
		-o-transform-origin: top center;
		-webkit-transform: scale(0.85);
		-webkit-transform-origin: top center;
	}
}

/* For challenge selection in home page */
.arrow-right {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

	border-left: 10px solid rgb(233 213 255);
}

/* Safari key icon for sign up password field */
.newPasswordInput::-webkit-credentials-auto-fill-button {
	position: absolute;
	right: 4rem;
}

.registrationTitle:after {
	content: '';
	display: block;
	margin: 0 auto;
	width: 75%;
	padding-top: 15px;
	border-bottom: 2px solid black;
}

/* Dashboard mobile menu */
.accordion {
	cursor: pointer;
	transition: 0.4s;
	position: relative;
	width: 12rem;
	-webkit-transition: width 0.15s ease-in-out;
	-moz-transition: width 0.15s ease-in-out;
	-o-transition: width 0.15s ease-in-out;
	transition: width 0.15s ease-in-out;
}
.menuactive {
	width: 100%;
}

.panel {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.accordion:after {
	content: '\02795';
	font-size: 12px;
	float: right;
}

.menuactive:after {
	content: '\2796';
}

.footerIcon {
	transform: scale(1.5);
}

/* RowdyHacks Added Styles */

/* Gradients */

.space-gradient {
	background: radial-gradient(#0f172a 0%, transparent 75%);
}

.sky-gradient {
	background: linear-gradient(
		to bottom,
		black 0%,
		black 7.5%,
		#40405c 25%,
		#6f71aa 40%,
		#f84c34 100%
	);
}

.register-gradient {
	background: linear-gradient(
		to bottom,
		black 0%,
		black 60%,
		#40405c 80%,
		#6f71aa 90%,
		#f84c34 100%
	);
}

.cave-gradient {
	background: linear-gradient(to bottom, #2d112b 0%, #692b44 100%);
}

.ocean-gradient {
	background: rgb(0, 102, 204);
	background: radial-gradient(circle, rgba(0, 102, 204, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.cave-bottom-border {
	--mask: conic-gradient(from -45deg at bottom, #0000, #000 1deg 89deg, #0000 90deg) 50%/60px 100%;
	-webkit-mask: var(--mask);
	mask: var(--mask);
}

/* Backgrounds */

.starfield-bg {
	background-image: url(/img/landscape/space/stars.png);
}

.ocean-animated-background {
	background: linear-gradient(360deg, #001a33, #003366, #004080, #0059b3, #0066cc);
	background-size: 300% 300%;
	animation: ocean-bg-animation 45s ease infinite;
}

.border-rocks {
	border-image: url('/img/borders/rocksborder.svg') 30 round;
	border-width: 20px;
	border-style: solid;
	margin: 10px;
}

.cloud-scroll-bg {
	background: url('/img/landscape/clouds.svg');
	background-repeat: repeat-x;
	height: 100vh;
	animation: bgScrollLeft 60s linear infinite;
	opacity: 0.2;
	background-size: 1000;
}

.forrest-bg {
	background: linear-gradient(to bottom, rgb(74 222 128) 0%, rgb(21 128 61) 100%);
	backgroundimage: url('/img/landing/forest.png');
}

.forrest-bg2 {
	backgroundimage: url('/img/landing/forest.png');
}

.cave-wrap-bg {
	background: url('/img/landscape/cave_wrap.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
}

.brush-stroke-bg {
	background: url('/img/landing/brushstroke.png');
}

/* Animations */

@keyframes bgScrollLeft {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100vw 0;
	}
}

@keyframes ocean-bg-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes blimpFloatAnimation {
	0% {
		transform: translate(0, 0px);
		rotate: -2deg;
	}
	50% {
		transform: translate(0, 5px);
		rotate: -2deg;
	}
	100% {
		transform: translate(0, -0px);
		rotate: -2deg;
	}
}

.blimpFloat {
	animation: blimpFloatAnimation 3s ease-in-out infinite;
}

/* Utility */

.drag-none {
	user-drag: none;
	-webkit-user-drag: none;
}
